/*  //////////////////////////////////////////////////
    Subj:       Coding Dojo > Web Fundamentals > CSS
    Project:    CSS Library
    By:         Virgilio D. Cabading Jr.
    Created:    October 14, 2021
    ////////////////////////////////////////////////// */

/* //// Universal Browser Reset ////////////////////// */
* {                                                     
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* //// Button ////////////////////////////////////////////////////// */
.btn {                              
    background:none;
    padding: 0px 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    box-shadow: 5px 5px 4px black;
}

.btn:hover, .btn:active {
    border-style: solid;
    border-width: 3px;
    border-color: white;
    color: white;
    font-weight: bold;
    cursor: pointer;;
}

.btn:active {
    transform: translateY(3px);
    box-shadow: 2px 1px 1px black;
}

/*  //// Flex Box ////////////////////////////////////////////////// */

/* Fixed width container class that will "auto-center" itself */
.main_container {
    width: 1200px;
    margin: 0 auto;
}

.container {
    display: flex;
}

.flex_right {
    display: flex;
    flex-direction: row;
}

.flex_down {
    display: flex;
    flex-direction: column;
}

.align_center {
    align-items: center;
}

.align_up {
    align-items: flex-start;
}

.justify_left {
    justify-content:flex-start;
}

.justify_right {
    justify-content: flex-end;
}

.justify_space {
    justify-content: space-around;
}

.justify_center {
    justify-content: center;
}

/*  //// Columns ///////////////////////////////////////////////// */

.col, .col-2, .col-3 {
    flex: 1;
    margin: 0px 10px;
    padding: 10px;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}

/*  //// Nav Bar /////////////////////////////////////////////////// */

.nav {                                      /* Navigation bar */
    background: rgb(2,0,36);              /* Gradient Color Background */              
    background: linear-gradient(139deg, rgba(2,0,36,1) 0%, rgba(71,154,170,1) 34%, rgba(9,9,121,1) 93%);
    border-color: dodgerblue;             /* Nav border info */
    border-width: 2px;
    border-radius: 10px;
    display: flex;                          /* Nav Bar is a container with two children seperated from one another */
    justify-content: space-between;
    align-items: center;
}

/*  //// Generic formating /////////////////////////////////////// */
h1 {
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.3rem;
}

.bg_blue_steel {
    background: rgb(2,2,5);
    background: linear-gradient(0deg, rgba(2,2,5,1) 0%, rgba(42,36,74,1) 66%, rgba(13,13,14,1) 100%);
}

.bg_dodger {
    background-color: dodgerblue;
}

.ft_white {
    color: white;
}

.ft_dodger {
    color: dodgerblue;
}

.bd_dodger {
    border-color: dodgerblue;
}

.bd_navy {
    border-style: solid;
    border-color: navy;
    border-width: 2px;
    border-radius: 10px;
}

.pad_10 {
    padding: 10;
}

.margin_10 {
    margin: 10;
}

.bd_solid {
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}